.board {
    width: 1600px;
    height: 900px;
    border: 1px solid grey;
    margin: 0;
    background-color: white;
    border-radius: 10px;
    margin-right: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    height: fit-content;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
}

nav * {
    margin: 0;
    padding: 0;
}

aside {
    height: 900px;
    width: 260px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid grey;

}

.container {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
}

h2 {
    font-size: 18px;
}

aside * {
    margin: 0;
    padding: 0;
    text-align: center;
}
.shapes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.shapes button {
    padding: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 10px;

}